body {
    background-color: rgb(95, 165, 110);
    margin-left: 5%;
}

img {
    width: 500px;
    height: 400px;
}

p {
    margin-top: 15px;
}

th{
    background-color: blueviolet;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    width: 400px;
    text-align: center;
}